
.signup-form {
  
      padding: 1rem;
      background-color: #eee;
      border-radius: 3px;
      min-width: calc(260px - 2rem);
      width: 15%;
      text-align: center;
  
      input {
          display: block;
          width: 100%;
          line-height: 2rem;
      }
  
      input:not([type="submit"]) {
          background-color: transparent;
          border: none;
          border-bottom: 1px solid black;
          margin-bottom: 1rem;
      }

      input:not([type="submit"]).error {
        border: 1px solid red;
      }

      .loading {
        display: block;
        width: 100%;
        line-height: 2rem;
        opacity: 0.5;
      }

      span {
        display: inline-block;
        width: 100%;
        line-height: 2rem;
        color: #be4b49;
      }

      
  }
  
  
