
@import url('https://fonts.googleapis.com/css?family=Roboto');

.signup-form {
  
      padding: 1rem;
      background-color: white;
      border-radius: 3px;
      min-width: calc(260px - 2rem);
      width: 33%;
      text-align: center;
      box-shadow: 1px 1px 2px rgba(0,0,0,.3);
      
      h1 {
          color: #D93738;
          font-family: 'Roboto', sans-serif;
      }

      input {
          display: block;
          width: 100%;
          line-height: 2rem;
          background-color:#D93738;
          color:white;
      }
  
      input:not([type="submit"]) {
          background-color: transparent;
          border: none;
          border-bottom: 1px solid #eee;
          margin-bottom: 1rem;
          color: black;
      }

      input:not([type="submit"]).error {
        border: 1px solid red;
      }

      .loading {
        display: block;
        width: 100%;
        line-height: 2rem;
        opacity: 0.5;
      }

      span {
        display: inline-block;
        width: 100%;
        line-height: 2rem;
        color: #D93738;
        font-family: 'Roboto', sans-serif;
      }

      
  }
  
  
