.suggestedVideos {
  width: 261px;
}
.homecontainer {
  background-color:  #FFFFFF;
}
.videoComponent {
  margin-left:52px;
  margin-right: 40px;
  width: 68%;
}
.main {
  display: flex;
  justify-content: space-between;
  margin-top: 37px;
}

.navigationbar {
  margin-top: -37px;
}