@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ECECEC;
}
.loginFrom {
  padding: 1rem;
  text-align: center;
  background-color: #fff;
  input {
    display: block;
    border: none;
    outline: none;
    
  }
  input:not([type="submit"]) {
    background-color: transparent;
    border-bottom: 1px solid #eee;
    margin-bottom: 1rem;
    color: black;
  }
  input[type="submit"]{
    padding: 5px;
    background-color:#D93738;
    color: white;
    margin: 0 auto;
  }
  .register-link {
    display: flex;
    flex-direction: row-reverse;
  }
  .errorMessage {
    color: red;
  }
}