@import url('https://fonts.googleapis.com/css?family=Roboto');
$boxshadow:rgba(0,0,0,0.2);
$navboxshadow:rgba(214,214,214,0.50);
$teamname:#D93738;
$searchname: #868686;
$navbackgroundcolor:#FFFFFF;
$uploadnamecolor:#868686;
#root {
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 4.375em;
  background-color:$navbackgroundcolor 100%;
  box-shadow: 0 2px 7px 0 $navboxshadow;
    .team-name { 
      margin-left: 0.4768em;
      margin-top: 0.196em;
      font-size: 2.375em;
      font-family: ArialRoundedMTBold;
      color: $teamname;
    }  
    .search-logo {
      color: #868686 100%;
      margin-left: 0.875em;
      height: 1em;
      width: 1em;
    }
   
    .search-name {
      margin-left: 0.9em;
      font-family: 'Roboto', sans-serif;
      font-size: 1em;
      color: $searchname;

    }
    .obstacle {
      margin-left: 3.4375em;
      height:2.8125em;
      opacity: 0.14;
      border: 0.0625em solid #979797;
    }
    .right-top {
      display: flex;
      align-items: center;
      margin-left: auto;
      margin-right: 1.625em;
        .user-profile {
          height: 2.5625em;
          width: 2.5625em;
        }
        .upload-logo {
          margin-right: 0.75em;
          height: 1.25em;
          width: 1.25em;
        }
        .upload-name {
          margin-right: 2.3125em;
          margin-left: auto;
          font-family: 'Roboto', sans-serif;
          font-size: 1em;
          color: $uploadnamecolor;
        }
        .popup-menu {
          background-color: white;
          padding-left: 1.25em;
          height: 1.875em;
          width: 1.875em;
        }
    }
}
.dropbtn {
  border: none;
  cursor: pointer;
}

.dropdown {
  margin-right: 1.8125em;
  margin-left: 0.6875em;
  width: 0; 
  height: 0; 
  border-left: 0.1875em solid transparent;
  border-right: 0.1875em solid transparent;
  border-top: 0.25em solid #9B9B9B;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 90%;
  min-width: 8em;
  box-shadow: 0px 8px 16px 0px $boxshadow;
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 0.625em 0.625em;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  text-decoration: underline;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropbtn {
  background-color: white;
}

